* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.header1 {
    display: block;
    position: relative;
    width: 100%;
    height: 670px;
    background-image: url('../img/back1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header1:after {
    display: block;
    position: absolute;
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    opacity: 0.85;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    z-index: 1;
}

.wrapper {
    display: block;
    max-width: 940px;
    margin: 0 auto;
}

.header1 .header1_body {
    display: block;
    position: relative;
    z-index: 2;
    font-size: 0;
    padding: 15px;
    text-align: center;
}

.header1 .header1_body .top_menu {
    display: block;
    text-align: left;
}

.header1_body .top_menu .logo {
    display: inline-block;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    width: 128px;
    height: 50px;
    cursor: pointer;
}

.header1_body .top_menu .menu {
    display: inline-block;
    float: right;
    padding-top: 15px;
}

.header1_body .top_menu .menu .li_link {
    display: inline-block;
    margin-left: 25px;
}

.header1_body .top_menu .menu .li_link .a_menu {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    transition: .3s;
}

.header1_body .top_menu .menu .li_link .a_menu:hover {
    color: #00e0d0;
    transition: .3s;
}

.header1_body .text_hdr {
    display: block;
    margin-top: 160px;
}

.header1_body .text_hdr .stg {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 900;
}

.header1_body .text_hdr .line_hdr {
    display: block;
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
    margin: 0 auto;
    margin-top: 21px;
}

.header1_body .text_hdr .p_hdr {
    display: block;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 30px;
}

.header1_body .text_hdr .but_hdr {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #fff;
    margin: 0 auto;
    margin-top: 50px;
    padding: 9px 15px;
    cursor: pointer;
}

.header1_body .text_hdr .but_hdr:hover {
    border-color: #00e0d0;
    transition: .3s;
}

.header1_body .text_hdr .but_hdr:hover .lrn {
    color: #00e0d0;
    transition: .3s;
}

.header1_body .text_hdr .but_hdr .lrn {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.header1 .flipp {
    display: block;
    position: absolute;
    bottom: -127px;
    left: 47%;
    margin-left: 2px;
}

.header1_body .flipp .fl1 {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #c2c2c2;
    border-radius: 100%;
    cursor: pointer;
    transition: .2s;
}

.header1_body .flipp .fl2 {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #c2c2c2;
    border-radius: 100%;
    margin-left: 5px;
    cursor: pointer;
    transition: .2s;
}

.header1_body .flipp .fl3 {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #c2c2c2;
    border-radius: 100%;
    margin-left: 5px;
    cursor: pointer;
    transition: .2s;
}

.header1_body .flipp .fl4 {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #c2c2c2;
    border-radius: 100%;
    margin-left: 5px;
    cursor: pointer;
    transition: .2s;
}

.header1_body .flipp .f1:hover {
    border: 1px solid transparent;
    background-color: #00e0d0;
    transition: .2s;
}

.section1 {
    display: block;
}

.section1 .section1_body {
    display: block;
    font-size: 0;
    padding: 70px 0;
    text-align: center;
    margin-left: 45px;
}

.section1 .section1_body .logotip {
    display: inline-block;
    background-image: url('../img/logotip.png');
    background-repeat: no-repeat;
    width: 235px;
    height: 229px;
    vertical-align: top;
    margin-top: 8px;
}

.section1 .section1_body .text_sect1 {
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
    text-align: left;
}

.section1 .section1_body .text_sect1 .story {
    display: block;
    color: #413d4b;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.section1 .section1_body .text_sect1 .p_sct1 {
    display: block;
    opacity: 0.75;
    color: #413d4b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 24px;
}

.section1 .section1_body .text_sect1 .but_sct1 {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #00e0d0;
    margin: 0 auto;
    margin-top: 25px;
    padding: 9px 15px;
    cursor: pointer;
}

.section1 .section1_body .text_sect1 .but_sct1:hover {
    border-color: #049c91;
    transition: .3s;
}

.section1 .section1_body .text_sect1 .but_sct1:hover .lrn {
    color: #049c91;
    transition: .3s;
}

.section1 .section1_body .text_sect1 .but_sct1 .lrn {
    color: #00e0d0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.section2 {
    display: block;
    position: relative;
    width: 100%;
    height: 550px;
    background-image: url('../img/back2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section2:after {
    display: block;
    position: absolute;
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    opacity: 0.85;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    z-index: 1;
}

.section2 .section2_body {
    display: block;
    position: relative;
    z-index: 2;
    font-size: 0;
    text-align: center;
    padding-top: 202px;
}

.section2 .section2_body .on {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 3px solid #ffffff;
    border-radius: 100%;
    padding: 25px 28px 28px 32px;
    cursor: pointer;
}

.section2 .section2_body .on .back_on {
    display: block;
    background-image: url('../img/arrow.png');
    background-repeat: no-repeat;
    width: 37px;
    height: 45px;
}

.section2 .section2_body .ourstr {
    display: block;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 34px;
}

.section3 {
    display: block;
}

.section3 .section3_body {
    display: block;
    text-align: center;
    font-size: 0;
    padding: 72px 0 68px 0;
}

.section3 .section3_body .text_sct3 {
    display: block;
}

.section3 .section3_body .text_sct3 .expts {
    display: block;
    color: #413d4b;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.section3 .section3_body .text_sct3 .spane_sct3 {
    display: block;
    opacity: 0.75;
    color: #2f2d35;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.section3 .section3_body .text_sct3 .line_sct3 {
    width: 50px;
    height: 2px;
    background-color: #413d4b;
    opacity: 0.3;
    margin: 0 auto;
    margin-top: 16px;
}

.section3 .section3_body .puncts {
    display: block;
    margin-top: 48px;
}

.section3 .section3_body .puncts .punct1 {
    display: block;
    vertical-align: top;
}

.section3 .section3_body .puncts .pun1 {
    display: inline-block;
    vertical-align: top;
    padding-top: 32px;
}

.section3 .section3_body .puncts .img_pn {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.section3 .section3_body .puncts .pun1 .web_des {
    display: block;
    color: #413d4b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 35px;
}

.section3 .section3_body .puncts .pun1 .p_sct3 {
    opacity: 0.75;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 20px;
}

.section3 .section3_body .puncts .line_y {
    display: inline-block;
    width: 1px;
    height: 249px;
    background-color: #ebebeb;
    margin: 0 32px;
}

.section3 .section3_body .puncts .pun2 {
    display: inline-block;
    vertical-align: top;
    padding-top: 32px;
}

.section3 .section3_body .puncts .pun2 .web_des {
    display: block;
    color: #413d4b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 35px;
}

.section3 .section3_body .puncts .pun2 .p_sct3 {
    opacity: 0.75;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 20px;
}

.section3 .section3_body .puncts .line_y {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 249px;
    background-color: #ebebeb;
    margin: 0 32px;
}

.section3 .section3_body .puncts .pun3 {
    display: inline-block;
    vertical-align: top;
    padding-top: 32px;
}

.section3 .section3_body .puncts .pun3 .web_des {
    display: block;
    color: #413d4b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 35px;
}

.section3 .section3_body .puncts .pun3 .p_sct3 {
    opacity: 0.75;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 20px;
}

.section3 .section3_body .puncts .line_y {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 249px;
    background-color: #ebebeb;
    margin: 0 32px;
}

.section3 .section3_body .puncts .line_x {
    display: block;
    width: 940px;
    height: 1px;
    background-color: #ebebeb;
}

.section3 .section3_body .puncts .punct2 {
    display: block;
    vertical-align: top;
}

.section4 {
    display: block;
    position: relative;
    width: 100%;
    height: 712px;
    background-image: url('../img/back3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section4:after {
    display: block;
    position: absolute;
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    opacity: 0.85;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    z-index: 1;
}

.section4 .section4_body {
    display: block;
    position: relative;
    text-align: center;
    font-size: 0;
    padding: 71px 0 0 0;
    z-index: 2;
}

.section4 .section4_body .text_sct4 {
    display: block;
}

.section4 .section4_body .text_sct4 .team {
    display: block;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.section4 .section4_body .text_sct4 .span_sct4 {
    display: block;
    color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
}

.section4 .section4_body .text_sct4 .line_sct4 {
    display: block;
    width: 50px;
    height: 2px;
    background-color: #ffffff;
    opacity: 0.2;
    margin: 0 auto;
    margin-top: 16px;
}

.section4 .section4_body .our_team {
    display: block;
    margin-top: 47px;
}

.section4 .section4_body .team1 {
    display: inline-block;
}

.section4 .section4_body .team1 .tm1 {
    display: block;
    width: 220px;
    height: 229px;
    background-image: url('../img/team1.png');
    background-repeat: no-repeat;
    background-position: center;
}

.section4 .section4_body .char {
    display: block;
    width: 220px;
    height: 79px;
    border-color: rgba(225, 225, 225, .5);
    border-width: 1px;
    border-style: solid;
    padding-top: 20px;
}

.section4 .section4_body .nm {
    display: block;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

.section4 .section4_body .char .poson {
    display: block;
    opacity: 0.7;
    color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 2px;
}

.section4 .section4_body .team2 {
    display: inline-block;
    margin-left: 20px;
}

.section4 .section4_body .team2 .tm1 {
    display: block;
    width: 220px;
    height: 229px;
    background-image: url('../img/team2.png');
    background-repeat: no-repeat;
    background-position: center;
}

.section4 .section4_body .team3 {
    display: inline-block;
    margin-left: 20px;
}

.section4 .section4_body .team3 .tm1 {
    display: block;
    width: 220px;
    height: 229px;
    background-image: url('../img/team3.png');
    background-repeat: no-repeat;
    background-position: center;
}

.section4 .section4_body .team4 {
    display: inline-block;
    margin-left: 20px;
}

.section4 .section4_body .team4 .tm1 {
    display: block;
    width: 220px;
    height: 229px;
    background-image: url('../img/team4.png');
    background-repeat: no-repeat;
    background-position: center;
}

.section4 .section4_body .hiring {
    display: block;
}

.section4 .section4_body .hiring .dr_team {
    display: block;
    color: #f3f3f3;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 70px;
}

.section4 .section4_body .hiring .but_sct4 {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #fff;
    margin: 0 auto;
    margin-top: 24px;
    padding: 9px 15px;
    cursor: pointer;
}

.section4 .section4_body .hiring .but_sct4:hover {
    border-color: #00e0d0;
    transition: .3s;
}

.section4 .section4_body .hiring .but_sct4:hover .lrn {
    color: #00e0d0;
    transition: .3s;
}

.section4 .section4_body .hiring .but_sct4 .lrn {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.section5 {
    display: block;
    font-size: 0;
    text-align: center;
    padding: 62px 0 70px 0;
}

.section5 .section5_body {
    display: block;
}

.section5 .section5_body .wks {
    display: inline-block;
    color: #413d4b;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    float: left;
}

.section5 .section5_body .allproj {
    display: inline-block;
    float: right;
    padding-top: 6px;
}

.section5 .section5_body .allproj .ar_right {
    display: inline-block;
    background-image: url('../img/ar_r2.png');
    background-repeat: no-repeat;
    width: 8px;
    height: 13px;
    vertical-align: middle;
    margin-left: 10px;
}

.section5 .section5_body .roj {
    display: inline-block;
    color: #413d4b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    vertical-align: middle;
}

.section5 .ourproj {
    display: block;
    margin-top: 63px;
}

.section5 .ourproj .our1 {
    display: block;
}

.section5 .ourproj .our1 .o1 {
    display: inline-block;
    background-image: url('../img/projects.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 16.6666667%;
    height: 200px;
}

.section5 .load_more {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #00e0d0;
    margin: 0 auto;
    margin-top: 70px;
    padding: 9px 20px;
    cursor: pointer;
}

.section5 .load_more:hover {
    border-color: #049c91;
    transition: .3s;
}

.section5 .load_more:hover .lrn {
    color: #049c91;
    transition: .3s;
}

.section5 .load_more .lrn {
    color: #00e0d0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.section6 {
    display: block;
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url('../img/back4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section6:after {
    display: block;
    position: absolute;
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    opacity: 0.85;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    z-index: 1;
}

.section6 .section6_body {
    display: block;
    position: relative;
    text-align: center;
    font-size: 0;
    padding: 46px 0 0 0;
    z-index: 2;
}

.section6 .section6_body .text_sct6 {
    display: block;
}

.section6 .section6_body .quot {
    display: block;
    opacity: 0.9;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    font-weight: 400;
    line-height: 110px;
}

.section6 .section6_body .inf_phot {
    opacity: 0.85;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.section6 .section6_body .ceo {
    display: block;
    margin-top: 45px;
}

.section6 .section6_body .ceo .nme {
    display: block;
}

.section6 .section6_body .ceo .nme .jane {
    display: block;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 22px;
    text-transform: uppercase;
}

.section6 .section6_body .ceo .nme .teng {
    display: block;
    opacity: 0.7;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    text-transform: uppercase;
}

.section6 .section6_body .personal {
    display: block;
    position: relative;
    margin-top: 45px;
}

.section6 .section6_body .personal .per1 {
    background-image: url('../img/per1.png');
}

.section6 .section6_body .personal .per2 {
    background-image: url('../img/per2.png');
}

.section6 .section6_body .personal .per3 {
    background-image: url('../img/per3.png');
}

.section6 .section6_body .personal .per4 {
    background-image: url('../img/per4.png');
}

.section6 .section6_body .personal .per5 {
    background-image: url('../img/per5.png');
}

.section6 .section6_body .personal .p1 {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 45px;
    height: 45px;
    margin-left: 14px;
    vertical-align: middle;
    transition: .3s;
}

.section6 .section6_body .personal .p1:hover {
    transform: scale(1.4);
    background-size: 100%;
    transition: .3s;
}

.section6 .section6_body .personal .ar_left {
    position: absolute;
    background-image: url('../img/ar_left.png');
    background-repeat: no-repeat;
    width: 11px;
    height: 21px;
    bottom: 13px;
    left: 265px;
    cursor: pointer;
}

.section6 .section6_body .personal .ar_right {
    position: absolute;
    background-image: url('../img/ar_right.png');
    background-repeat: no-repeat;
    width: 11px;
    height: 21px;
    bottom: 13px;
    right: 265px;
    cursor: pointer;
}

.section7 {
    display: block;
}

.section7 .section7_body {
    display: block;
    font-size: 0;
    padding: 66px 0 70px 0;
}

.section7 .section7_body .data {
    display: inline-block;
    vertical-align: top;
}

.section7 .section7_body .data .news {
    display: block;
    color: #413d4b;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.section7 .section7_body .data .us {
    display: block;
}

.section7 .section7_body .data .dt1 {
    width: 460px;
    height: 45px;
    border: 1px solid #e5e5e5;
    color: #413d4b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 0 21px;
    outline: none;
    margin-top: 23px;
}

.section7 .section7_body .data .ml {
    display: block;
}

.section7 .section7_body .data .subj {
    display: block;
}

.section7 .section7_body .data .comment {
    display: block;
}

.section7 .section7_body .data .comment .com {
    height: 200px;
    resize: none;
    padding: 22px 20px;
}

.section7 .section7_body .clients {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-left: 95px;
}

.section7 .section7_body .clients .hcl {
    display: block;
    color: #413d4b;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}

.section7 .section7_body .clients .clin {
    display: block;
    margin-top: 47px;
}

.section7 .section7_body .clients .client1 {
    display: inline-block;
    vertical-align: top;
}

.section7 .section7_body .clients .cl1 {
    display: block;
    background-image: url('../img/zara.png');
    background-repeat: no-repeat;
    width: 162px;
    height: 22px;
    margin: 0 auto;
}

.section7 .section7_body .clients .cl2 {
    display: block;
    background-image: url('../img/barneys.png');
    background-repeat: no-repeat;
    width: 154px;
    height: 41px;
    margin: 0 auto;
    margin-top: 47px;
}

.section7 .section7_body .clients .cl3 {
    display: block;
    background-image: url('../img/calvin.png');
    background-repeat: no-repeat;
    width: 151px;
    height: 24px;
    margin: 0 auto;
    margin-top: 49px;
}

.section7 .section7_body .clients .cl4 {
    display: block;
    background-image: url('../img/converse.png');
    background-repeat: no-repeat;
    width: 113px;
    height: 69px;
    margin: 0 auto;
    margin-top: 54px;
}

.section7 .section7_body .clients .cl5 {
    display: block;
    background-image: url('../img/levis.png');
    background-repeat: no-repeat;
    width: 109px;
    height: 53px;
    margin: 0 auto;
    margin-top: 50px;
}

.section7 .section7_body .clients .client2 {
    display: inline-block;
    vertical-align: top;
    margin-left: 80px;
}

.section7 .section7_body .clients .cl6 {
    display: block;
    background-image: url('../img/mango.png');
    background-repeat: no-repeat;
    width: 138px;
    height: 22px;
    margin: 0 auto;
}

.section7 .section7_body .clients .cl7 {
    display: block;
    background-image: url('../img/gucci.png');
    background-repeat: no-repeat;
    width: 140px;
    height: 21px;
    margin: 0 auto;
    margin-top: 60px;
}

.section7 .section7_body .clients .cl8 {
    display: block;
    background-image: url('../img/nike.png');
    background-repeat: no-repeat;
    width: 95px;
    height: 34px;
    margin: 0 auto;
    margin-top: 53px;
}

.section7 .section7_body .clients .cl9 {
    display: block;
    background-image: url('../img/puma.png');
    background-repeat: no-repeat;
    width: 114px;
    height: 56px;
    margin: 0 auto;
    margin-top: 54px;
}

.section7 .section7_body .clients .cl0 {
    display: block;
    background-image: url('../img/billabong.png');
    width: 130px;
    height: 70px;
    margin: 0 auto;
    margin-top: 29px;
}

.section7 .submit {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #00e0d0;
    margin: 0 auto;
    margin-top: 30px;
    padding: 9px 35px;
    cursor: pointer;
    transition: .3s;
}

.section7 .section7_body .submit:hover {
    border-color: #049c91;
    transition: .3s;
}

.section7 .section7_body .submit:hover .lrn {
    color: #049c91;
    transition: .3s;
}

.section7 .section7_body .submit .lrn {
    color: #00e0d0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    transition: .3s;
}

.footer1 {
    display: block;
    position: relative;
    background-image: url('../img/back5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}

.footer1:after {
    display: block;
    position: absolute;
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    opacity: 0.85;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    z-index: 1;
}

.footer1 .footer1_body {
    display: block;
    position: relative;
    z-index: 2;
    font-size: 0;
    padding: 70px 0 0 0;
    text-align: center;
}

.footer1 .footer1_body .studio {
    display: block;
}

.footer1 .footer1_body .studio .tajam {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.footer1 .footer1_body .studio .tajam .logo_f {
    display: block;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    width: 128px;
    height: 50px;
}

.footer1 .footer1_body .studio .tajam .text_foot {
    display: block;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 25px
}

.footer1 .footer1_body .studio .ostud {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 0 36px;
    text-align: left;
}

.footer1 .footer1_body .studio .ostud .our {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 900;
    line-height: 26px;
    text-transform: uppercase;
}

.footer1 .footer1_body .studio .ostud .place {
    display: block;
    margin-top: 37px;
}

.footer1 .footer1_body .studio .ostud .place .img_pl {
    display: inline-block;
    background-image: url('../img/place.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 19px;
    vertical-align: top;
    margin-top: 4px;
}

.footer1 .footer1_body .studio .ostud .place .pl {
    display: inline-block;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    vertical-align: top;
    margin-left: 16px;
}

.footer1 .footer1_body .studio .ostud .telef {
    display: block;
    margin-top: 12px;
}

.footer1 .footer1_body .studio .ostud .telef .img_tel {
    display: inline-block;
    background-image: url('../img/phone2.png');
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
}

.footer1 .footer1_body .studio .ostud .telef .tel {
    display: inline-block;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    margin-left: 13px;
}

.footer1 .footer1_body .studio .touch {
    display: inline-block;
    margin: 10px 0 0 62px;
    text-align: left;
}

.footer1 .footer1_body .studio .touch .tch {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 900;
    line-height: 26px;
    text-transform: uppercase;
}

.footer1 .footer1_body .studio .touch .newlrt {
    display: block;
    margin-top: 40px;
}

.footer1 .footer1_body .studio .touch .sub_foot {
    display: inline-block;
    border-width: 1px;
    border-color: rgba(255, 255, 255, .5);
    border-style: solid;
    padding: 9px 16px;
    cursor: pointer;
    vertical-align: top;
}

.footer1 .footer1_body .studio .touch .sub_foot:hover {
    border-color: #00e0d0;
    transition: .3s;
}

.footer1 .footer1_body .studio .touch .sub_foot:hover .sp_foot {
    color: #00e0d0;
    transition: .3s;
}

.footer1 .footer1_body .studio .touch .sub_foot .sp_foot {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.75;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}

.footer1 .footer1_body .studio .touch .paper {
    display: inline-block;
    width: 70px;
    height: 45px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    opacity: 0.5;
    vertical-align: top;
    padding: 10px 19px;
    margin-left: 10px;
    cursor: pointer;
}

.footer1 .footer1_body .studio .touch .paper:hover {
    background-color: #00e0d0;
    border-color: #00e0d0;
    transition: .3s;
}

.footer1 .footer1_body .studio .touch .paper .pap {
    display: block;
    background-image: url('../img/paper122.png');
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.footer1 .footer1_body .studio .touch .social {
    display: block;
    margin-top: 27px;
}

.footer1 .footer1_body .studio .touch .social .sc1 {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #ffffff;
    border-radius: 100%;
    margin-right: 8px;
    cursor: pointer;
}

.footer1 .footer1_body .studio .touch .social .sc1:hover {
    border-color: #00e0d0;
    transition: .3s;
}

.footer1 .footer1_body .studio .touch .social .soc1 {
    padding: 8px 13px;
}

.footer1 .footer1_body .studio .touch .social .s1 {
    display: block;
    background-image: url('../img/facebook.png');
    background-repeat: no-repeat;
    width: 7px;
    height: 15px;
}

.footer1 .footer1_body .studio .touch .social .soc2 {
    padding: 11px 10px;
}

.footer1 .footer1_body .studio .touch .social .s2 {
    display: block;
    background-image: url('../img/twitter.png');
    background-repeat: no-repeat;
    width: 14px;
    height: 11px;
}

.footer1 .footer1_body .studio .touch .social .soc3 {
    padding: 8px 8px;
}

.footer1 .footer1_body .studio .touch .social .s3 {
    display: block;
    background-image: url('../img/dribbble.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.footer1 .footer1_body .studio .touch .social .soc4 {
    padding: 8px 9px;
}

.footer1 .footer1_body .studio .touch .social .s4 {
    display: block;
    background-image: url('../img/instagram.png');
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.footer1 .footer1_body .studio .touch .social .soc5 {
    padding: 9px 10px;
}

.footer1 .footer1_body .studio .touch .social .s5 {
    display: block;
    background-image: url('../img/google.png');
    background-repeat: no-repeat;
    width: 15px;
    height: 14px;
}

.footer1 .footer1_body .studio .touch .social .soc6 {
    padding: 10px 8px;
}

.footer1 .footer1_body .studio .touch .social .s6 {
    display: block;
    background-image: url('../img/youtube.png');
    background-repeat: no-repeat;
    width: 17px;
    height: 11px;
}

.footer1 .footer1_body .menu2 {
    display: inline-block;
    float: left;
    margin: 61px 0 0 220px;
}

.footer1 .footer1_body .menu2 .ul1 {
    display: block;
}

.footer1 .footer1_body .menu2 .ul1 .l1 {
    display: inline-block;
    margin-right: 34px;
}

.footer1 .footer1_body .menu2 .ul1 .l1:hover .a1 {
    color: #00e0d0;
    transition: .3s;
}

.footer1 .footer1_body .menu2 .ul1 .l1 .a1 {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;
}

.footer1 .footer1_body .taj_creat {
    display: inline-block;
    float: right;
    margin: 60px 220px 0 0;
}

.footer1 .footer1_body .taj_creat .copy {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}
